<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto de Avaliação Estagio Intesis</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <h1>Projeto de Avaliação Estágio Intesis</h1>
        <p>Feito por: Gabriel Volpato</p>
    </header>
    
    <main>
        <section>
            <div class="consultaCont">
                <h2>Consulta de Clientes</h2>
                <form id="formConsultaClientes">
                    <div class="formInput">
                        <label for="cliente">Id:</label>
                        <input type="text" id="cliente" name="cliente" required>
                    </div>
                    <button type="submit">Consultar</button>
                    <button type="add">Inserir</button>
                </form>
                <div class="tabelaConsulta">
                    <h3>Resultado da Consulta:</h3>
                    <table id="tblClientes">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Endereço</th>
                                <th>Telefone</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyClientes">
                            <tr>
                                <td>ID</td>
                                <td>Nome</td>
                                <td>CPF</td>
                                <td>Endereço</td>
                                <td>Telefone</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cadastroCont">
                <h2>Cadastro de Clientes</h2>
                <form id="formCadastroClientes">
                    <div class="formInput">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>
                    <div class="formInput">
                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" name="cpf" required>
                    </div>
                    <div class="formInput">
                        <label for="endereco">Endereço:</label>
                        <input type="text" id="endereco" name="endereco" required>
                    </div>
                    <div class="formInput">
                        <label for="telefone">Telefone:</label>
                        <input type="text" id="telefone" name="telefone" required>
                    </div>
                    <button type="submit">Cadastrar</button>
                    <button type="cancelar">Cancelar</button>
                </form>
            </div>
        </section>
        <section></section>
        <section></section>
    </main>
</body>
</html>